# Framework principal
Django>=4.2,<5.0
djangorestframework>=3.14.0
djangorestframework-simplejwt>=5.2.2
django-filter>=24.1

# CORS e variáveis de ambiente
django-cors-headers>=4.3.1
python-decouple>=3.8
python-dotenv==1.1.0
PyJWT>=2.8.0

# Validação de CPF/CNPJ
validate-docbr>=1.10.0

# Auth
django-allauth>=65.9.0
dj-rest-auth>=7.0.1

# Swagger / Redoc
drf-spectacular>=0.28.0

# Django utilities
django-extensions

# Blockchain / Web3
web3>=6.10.0
eth-abi
eth-account
eth-hash
eth-keyfile
eth-keys
eth-rlp
eth-typing
eth-utils
hexbytes
ckzg
pycryptodome
rlp
toolz
cytoolz
parsimonious
propcache
aiohttp
aiohappyeyeballs
multidict
yarl
websockets

# Outros necessários em produção
asgiref
attrs
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
dnspython
eventlet
frozenlist
greenlet
idna
inflection
jsonschema
jsonschema-specifications
kombu
packaging
python-dateutil
pyunormalize    
PyYAML
referencing
regex
requests
rpds-py
six
sqlparse
typing_extensions
typing-inspection
tzdata
uritemplate
urllib3
vine
wcwidth
mysqlclient
